@import "tailwindcss";

:root {
  --lcmc-black: #0B0B0B;
  --lcmc-white: #F5F5F5;
  --lcmc-gold: #C9A24D;
  --lcmc-gray: #2A2A2A;
}


body {
  background-color: var(--lcmc-black);
  color: var(--lcmc-white);
  font-family: Inter, system-ui, sans-serif;
}

